{{define "upload"}}
<!doctype html>
<html lang="en">

<head>
    <title>Yeni kitap ekle</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4/css/bootstrap.min.css">
    <style>
        body {
            background-color: #fff;
        }
    </style>
</head>

<body style="padding-top:60px">
    
    {{template "navbar_search" .}}

    <div class="container">
        <div class="row">
            {{if .message}}
            <div class="col-sm-12 alert alert-success">
                <strong>Başarılı!</strong> Dosya yüklendi.
            </div>
            {{end}}
            <div class="col-sm-12">
                <h3 class="text-center">Yeni yayın ekleme sayfası</h3>
            </div>
        </div>
        <form class="form-horizontal" onsubmit="return validateForm()" id="upload" method="POST" enctype="multipart/form-data" action="/api/addbook">
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="title">Kitap Adı:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="title" name="title" value="" placeholder="Kitap adı">
                        <div id="title_error" class="text-danger"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="author">Yayıncı:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="author" name="author">
                            <option></option>
                            <option value="Müşterek">Müşterek</option>
                            <option value="K.K.K.">K.K.K.</option>
                            <option value="Dz.K.K.">Dz.K.K.</option>
                            <option value="H.K.K.">Hv.K.K.</option>
                            <option value="Mevzuat">Mevzuat</option>
                        </select>
                    </div>
                    <div id="author_error" class="text-danger"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="genre">Yayın Türü:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="genre" name="genre">
                            <option></option>
                            <option value="Yönerge">Yönerge</option>
                            <option value="Talimname">Talimname</option>
                            <option value="Konsept">Konsept</option>
                            <option value="Doktrin">Doktrin</option>
                            <option value="Yardımcı yayın">Yardımcı yayın</option>
                            <option value="Kanun">Kanun</option>
                            <option value="Yönetmelik">Yönetmelik</option>
                            <option value="Kararname">Kararname</option>
                        </select>
                    </div>
                    <div id="genre_error" class="text-danger"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="category">Kategory:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control wrapper" id="category" name="category" size="5" multiple>
                            <option value="Temel">Temel</option>
                            <option value="Piyade">Piyade</option>
                            <option value="Tank">Tank</option>
                            <option value="Topçu">Topçu</option>
                            <option value="İstihbarat">İstihbarat</option>
                            <option value="İkmal">İkmal</option>
                            <option value="Bakım">Bakım</option>
                            <option value="İstihkam">İstihkam</option>
                            <option value="Ortak Konular">Ortak Konular</option>
                            <option value="Harekat">Harekat</option>
                            <option value="Lojistik">Lolistik</option>
                            <option value="Personel">Personel</option>
                            <option value="MEBS">MEBS</option>
                            <option value="Bölük">Bölük</option>
                            <option value="Tabur">Tabur</option>
                            <option value="Tugay">Tugay</option>
                            <option value="Stratejik">Stratejik</option>                            
                        </select>
                    </div>
                    <div id="category_error" class="text-danger"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="year">Basım Yılı:</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="year" name="year" value="{{.book.Year}}" placeholder="2018">
                    </div>
                    <div id="year_error" class="text-danger"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="year">Yüklenecek Dosya:</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="file" class="upload" id="file" name="file" />
                        <div id="file_error" class="text-danger"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-3">
                    </div>

                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-primary">Kitabı Yükle</button>
                    </div>
                </div>
            </div>
    </div>

    </div>

    </form>
    </div>

    <script src="/static/jquery/jquery-3.3.1.min.js"></script>
    <script>
        
        $(document).ready(function(){
            $("#upload").submit(function(event){
                event.preventDefault;
            });

            $("#file").change(function(){
                if ($("#title").val()=="") {
                    path = $("#file").val();
                    if (path.endsWith(".pdf")) {
                        path = path.slice(0,-4)
                    }
                    $("#title").val(path.slice(path.replaceAll("\\", "/").lastIndexOf("/")+1));
                }
            });
        });

        function validateForm() {

            // clear previous warnings
            $("div.text-danger").html("");

            title = $("#title").val();
            if (title.length < 3) {
                $("#title_error").html("Kitap adı 3 harften kısa olamaz.");
                return false;
            }
        
            index = $("#author").prop("selectedIndex");
            if (index == 0) {
                $("#author_error").html('Kitabın yazarını seçin.');
                return false;
            }
           
            index = $("#genre").prop("selectedIndex");
            if (index == 0) {
                $("#genre_error").html('Yayın türünü seçin.');
                return false;
            }
         
            count = $("#category :selected").length;
            if (count == 0) {
                $("#category_error").html('En az bir kategori seçiniz.');
                return false;
            }
 
            year = $("#year").val();
            year.trim();
            var patern = new RegExp("[0-9]{4}");
            if (patern.test(year) != true) {
                $("#year_error").html('Geçerli bir yıl girin.');
                return false;
            }

            file = $("#file").val();
            if (file.length == 0) {
                $("#file_error").html('Yüklenecek dosyayı seçin.');
                return false;
            }

            return true;
        }
    </script>

</body>
</html>
{{end}}